

.tour body > section {position: relative;}

.tour article {
	position: absolute;
}

article:last-child {margin-bottom: 6em;} /* to render footer correctly in no-tour mode */

.tour footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0.5em;
	margin-top: 2em;
	background-color: #E0E5FF;
	color: #999;
	font-size: 12px;
	text-align: center;
}

/********************************** P U R E   V E R S I O N  ***********************************
When visiting index.html?pure, a "pure" html doc is shown. No .tour class is applied to body
*/
footer a {display:none;}
.tour footer a {display:inline;}

/*************************** L O G O   A N D   H E A D E R **************************************/

h1 {
	background-color: #E5ECF9;
	border-top: 1px #3366CC solid;
	font-weight: bold;
	margin: 18px 0 0 0;
	padding: 3px 5px;
	color: #333;
	font-size: 14px;
}

body > header {
	background: transparent url("../img/tour_logo.gif") top left no-repeat;
	padding-left: 150px;
	height: 60px;
	padding-top: 0.1em;
}

/********************** B A S I C   T Y P O G R A P H Y ******************************************/

body { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 160%;
}


/********************** A R T I C L E   N A V / S H O W   E F F E C T **************************
When an article isn't being viewed, the contents is hidden and the headline serves as a nav link.
Upon being given the .showing class, the article is moved to the vieing area of the screen.
*/

body > section {
	position: relative;
	top: 5em;
}

.tour .hiding:nth-child(1) {left: 0; top: 0; -webkit-transition-property: top, left; -webkit-transition-duration: 0.3s; -webkit-transition-timing-function: ease;}
.tour .hiding:nth-child(2) {left: 0; top: 2em; -webkit-transition-property: top, left; -webkit-transition-duration: 0.3s; -webkit-transition-timing-function: ease;}
.tour .hiding:nth-child(3) {left: 0; top: 4em; -webkit-transition-property: top, left; -webkit-transition-duration: 0.3s; -webkit-transition-timing-function: ease;}
.tour .hiding:nth-child(4) {left: 0; top: 6em; -webkit-transition-property: top, left; -webkit-transition-duration: 0.3s; -webkit-transition-timing-function: ease;}
.tour .hiding:nth-child(5) {left: 0; top: 8em; -webkit-transition-property: top, left; -webkit-transition-duration: 0.3s; -webkit-transition-timing-function: ease;}
.tour .hiding:nth-child(6) {left: 0; top: 10em; -webkit-transition-property: top, left; -webkit-transition-duration: 0.3s; -webkit-transition-timing-function: ease;}
.tour .hiding:nth-child(7) {left: 0; top: 12em; -webkit-transition-property: top, left; -webkit-transition-duration: 0.3s; -webkit-transition-timing-function: ease;}
.tour .hiding:nth-child(8) {left: 0; top: 14em; -webkit-transition-property: top, left; -webkit-transition-duration: 0.3s; -webkit-transition-timing-function: ease;}

.tour article:nth-child(1) {left: 0; top: 0;}
.tour article:nth-child(2) {left: 0; top: 2em;}
.tour article:nth-child(3) {left: 0; top: 4em;}
.tour article:nth-child(4) {left: 0; top: 6em;}
.tour article:nth-child(5) {left: 0; top: 8em;}
.tour article:nth-child(6) {left: 0; top: 10em;}
.tour article:nth-child(7) {left: 0; top: 12em;}
.tour article:nth-child(8) {left: 0; top: 14em;}



.tour article.showing {
	-webkit-transition-property: top, left; -webkit-transition-duration: 0.25s; -webkit-transition-timing-function: ease;
	top: -2em;
	left: 390px;
}

.tour h2 {
	font-size: 1em;
	font-weight: bold;
	cursor: pointer;
}

.tour h2:hover {
	text-decoration: underline;
}

.tour .showing > h2:hover {
	text-decoration: none;
	cursor: inherit;
}

/********************** A R T I C L E   U N W R A P   E F F E C T ***********************
While an article is in nav state, the contents has opacity 0. This is animated to 1 when the article is showed.
Also, we animated the width from 0 to full, so that a top-background image can act as expanding heading underline.
*/

.tour article > section {
	height: 3px;  /* hide the article while in nav state */
	width: 0;
	overflow: hidden;
	color: #333;
	background: transparent url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAIoAAAAECAIAAADeXzCbAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8%2BIDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDpGNzdGMTE3NDA3MjA2ODExODFEOUEyMzFBOERFQzcyQyIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDozQTlDNkVFOEVGQzIxMUUxOUJDNkEyREUzQzEzOUJGNiIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDozQTlDNkVFN0VGQzIxMUUxOUJDNkEyREUzQzEzOUJGNiIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChNYWNpbnRvc2gpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NDZENjQwNjM2MzIwNjgxMTgwODM4RUVFOTdCQkFFREQiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6Rjc3RjExNzQwNzIwNjgxMTgxRDlBMjMxQThERUM3MkMiLz4gPC9yZGY6RGVzY3JpcHRpb24%2BIDwvcmRmOlJERj4gPC94OnhtcG1ldGE%2BIDw/eHBhY2tldCBlbmQ9InIiPz6z2rdVAAAAMElEQVR42mJkaP/OQHvwb7Y1A10AY%2B85Oln0OYwOtjAxjIJBDEajZzR6RgG5ACDAAGNHBgAfwwAlAAAAAElFTkSuQmCC") no-repeat;
	background-size: 100% 3px;
}

.tour .showing > section {
	-webkit-transition-property: width;
	-webkit-transition-duration: 0.45s;
	-webkit-transition-timing-function: ease;
	-webkit-transition-delay: 0.25s;
	width: 700px;
	height: inherit;
	top: 3px;
}

.tour article > section > * {
	margin-left: 1em;
	margin-right: 1em;
}

.tour article > section > * {opacity:0;}

.tour .showing > section > * { /* this is ugly, better to wrap content in an div */
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
	-webkit-transition-delay: 0.65s;
	opacity: 1;
}

/*********************** A R T I C L E   I M A G E S ***************************/

body {
	overflow-x: hidden;
}

.tour .showing > section > img:last-child {
	-webkit-transition: left 0.3s ease 0.6s;
	left: 2.5em;
}

.tour section > img:last-child {
	left: 100em;
	position: relative;
}

/********************** H E A D L I N E   H I G H L I G H T   E F F E C T *******************
Each headline contains a span around the core part. For this span we animate size and color
when the article is clicked.
*/


h2:after { /* to prevent headline height change during highlight effect */
	font-size: 2em; /* should match font-size in .showing>h2>span rule */
	content: ".";
	color: #FFF;
}

.tour h2 {
	color:#777;
	margin: 0;
	padding: 0 0.5em;
}

.hiding > h2 > span {
	-webkit-transition: font-size 1s ease 0;
	font-size: 1em;
}

.showing > h2 > span {
	-webkit-transition-property: font-size, color;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
	-webkit-transition-delay: 0.35s;
	font-size: 2em;
	color: #777; /* #333 testing without the color anim, looks better? */
}

